footer#main-layout-footer
  a( href='/terms' ) Terms of Use
  a( href='/privacy' ) Privacy Policy
  nav#main-layout-footer-external
    a.mlf-social.icon-twitter( href='http://twitter.com/zamiang')
    a.mlf-social.icon-github( href='https://github.com/zamiang/seaden')
