title Home | Seaden
meta( property="og:title", content="Home | Seaden" )
meta( name="description", content="TODO" )
meta( property="og:description", content="" )
meta( property="twitter:description", content="" )
link( rel="canonical", href=sd.APP_URL )
meta( property="og:url", content=sd.APP_URL )
meta( property="og:image", content=(sd.ASSET_PATH + "og_image.jpg") )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
